body {
    background-color: #021E3B;
  }


.navbar {

    font-family: 'Rubik', sans-serif;

  }


  
.container{
    font-family: 'Rubik', sans-serif;
    margin-top: 1em;
}


.click_1{
    margin: top 20px;;
 width:10em;
 height:3em;
    font-family: 'Oswald', sans-serif;
  border: none;
  border-radius: 25px;
}


.click{

    font-family: 'Oswald', sans-serif;

  border: none;
  border-radius: 25px;
}

